<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingListForm" (ngSubmit)="onAdd()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name">
          <span class="help-block"
                *ngIf="!shoppingListForm.get('name').value && shoppingListForm.get('name').touched">
            This field is required!
          </span>
        </div>
        <div class="col-sm-4 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" class="form-control" formControlName="amount">
          <span class="help-block" *ngIf="shoppingListForm.get('amount').touched && shoppingListForm.get('amount').errors">
            <span *ngIf="shoppingListForm.get('amount').errors['required']">This field is required!</span>
            <span *ngIf="shoppingListForm.get('amount').errors['min']">The min value for this field is 1!</span>
            <span *ngIf="shoppingListForm.get('amount').errors['max']">The max value for this field is 10!</span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!shoppingListForm.valid">
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button type="button" class="btn btn-danger" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button type="button" class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
